*.o
*.so
*.swp
*.bak
*.pyf
*.project
*.py[cod]
*.pydev*
*_prog.f90
MANIFEST
docs/build/
docs/source/modules.rst
wagl/build
wagl/sys_variables.mod
wagl/tests/data/L1T
bin/
pip-log.txt
.coverage
.tox
nosetests.xml
.DS_Store
*.egg
*.egg-info
.idea
*.iml
*.ipr
