*.o
*.so
*.swp
*.bak
*.pyf
*.in
*.project
*.flt
*.git*
*.pyc
*.pydev*
*_prog.f90
bin/
docs/build/
fortran/binear_ortho
fortran/brdf_sim_bin
fortran/brdf_sim_bin_slc
fortran/input_modtran_ortho_ula
fortran/coefficient
fortran/read_flx_ga
fortran/read_modtrancor_ortho
fortran/input_modtran_ortho
fortran/refort_tp5_ga
fortran/refort_tp5_ga_trans
fortran/read_modtran
fortran/read_flx_ga_trans
fortran/brdf_sim_bin_LS8
src/aot_loader
docs/source/ULA3*
docs/source/modules.rst
ULA3/build
