*.o
*.so
*.swp
*.bak
*.pyf
*.in
*.project
*.flt
*.git*
*.pyc
*.pydev*
*_prog.f90
docs/build/
docs/source/modules.rst
gaip/build
gaip/sys_variables.mod
gaip/tests/data/L1T
src/aot_loader
src/bilinear_interpolation
src/box_line_coordinates
src/calculate_coefficients
src/generate_modtran_input
src/read_flux_albedo
src/read_flux_transmittance
src/reformat_modtran_output
src/reformat_tp5_albedo
src/reformat_tp5_transmittance
bin/
