# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: 538673716275.dkr.ecr.ap-southeast-2.amazonaws.com/dev/gaip:circle-ci
        aws_auth:
          aws_access_key_id: $ECR_AWS_ACCESS_KEY_ID
          aws_secret_access_key: $ECR_AWS_SECRET_ACCESS_KEY

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum ".circleci/environment.yml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            conda env update -f .circleci/environment.yml

      - save_cache:
          paths:
            - /root/miniconda
          key: v1-dependencies-{{ checksum ".circleci/environment.yml" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            source activate gaip
            python3 setup.py test

      - store_artifacts:
          path: test-reports
          destination: test-reports
